<main class='contact-info'>
  <ul>
    <li>
      <h1>
        <%=@contact.full_name.titleize%>
      </h1>
    </li>
    <li><%=@contact.email%></li>
    <li><%=@contact.note%></li>
    <li><a href="/contacts/<%= @contact.id %>/edit">Edit</a></li>
  </ul>

  <form action="/contacts/<%= @contact.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Contact">
  </form>

</main>
